body {
  font-family: sans-serif, 'Times New Roman';
}
h1.title {
  color:black;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  }
a:link, a:visited{
  color: black;
  text-decoration: none;
  display: inline-block;
  text-align: center;
    /*padding: 7px 50px;*/
  width: 23%;
  border-left: 5px solid turquoise;
  margin-top: 10px;
  margin-bottom: 20px;
}
a:hover, a:active {
  text-decoration: underline;
}
#header {
  font-size: 20px;
  }
.coverpage {
  background-image: url('book_st.webp');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  /*background-color: turquoise;*/
  padding: 15%;
  margin-top: 3%
}
p.para {
  width: 50%;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
  /*border: 2px solid black;*/
  }
